<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amador.ejerciciosintroduccion">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true">
        <activity
            android:name=".SeleccionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EjercicioUnoClass"
            android:screenOrientation="portrait" />
        <activity android:name=".CambioRatio" />
        <activity android:name=".EjercicioDosClass" />
        <activity android:name=".EjercicioTresClass" />
        <activity android:name=".EjercicioCuatroClass"

            />
        <activity android:name=".EjercicioCincoClass" />
        <activity android:name=".InfoPalabraClass" />
        <activity android:name=".WebActivityClass"></activity>
    </application>

</manifest>